{% extends "base.html" %}
{% load static %}
{%block title%}Ankieta{% endblock %}

{% block content %}
<p>Lista pytań w ankiecie konsumentów:</p>

{% if lista_pytan %}
<!-- <ul>
    {% for pytanie in lista_pytan %}
    <li><a href="/ankieta/{{pytanie.id}}/szczegoly">
            {{pytanie.tekst_pytania}}</a>
    </li>
    {% endfor %}

</ul> -->
<div class="container">
    <div class="row">
        {% for pytanie in lista_pytan %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/' %}{{pytanie.obraz}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">PYTANIE {{pytanie.id}}</h5>
                    <p class="card-text">{{pytanie.tekst_pytania}}</p>
                    <a href="/ankieta/{{pytanie.id}}/szczegoly" class="btn btn-primary">Idź do ankiety</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




{% else %}
<p>Nie ma jeszcze pytań!!!</p>
{% endif %}
{% endblock %}